<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Controlador</display-name>
    <servlet-name>Controlador</servlet-name>
    <servlet-class>Controlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controlador</servlet-name>
    <url-pattern>/Controlador</url-pattern>
  </servlet-mapping>
  <display-name>TrabajoSegundaEvaluacion</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>pregunta2</display-name>
    <servlet-name>pregunta2</servlet-name>
    <servlet-class>pregunta2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pregunta2</servlet-name>
    <url-pattern>/pregunta2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PruebaJ</display-name>
    <servlet-name>PruebaJ</servlet-name>
    <servlet-class>PruebaJ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PruebaJ</servlet-name>
    <url-pattern>/PruebaJ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseDatos</display-name>
    <servlet-name>BaseDatos</servlet-name>
    <servlet-class>BaseDatos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseDatos</servlet-name>
    <url-pattern>/BaseDatos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Scriptlets</display-name>
    <servlet-name>Scriptlets</servlet-name>
    <servlet-class>Scriptlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Scriptlets</servlet-name>
    <url-pattern>/Scriptlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Respuestas</display-name>
    <servlet-name>Respuestas</servlet-name>
    <servlet-class>Respuestas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Respuestas</servlet-name>
    <url-pattern>/Respuestas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Puntuacion</display-name>
    <servlet-name>Puntuacion</servlet-name>
    <servlet-class>Puntuacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Puntuacion</servlet-name>
    <url-pattern>/Puntuacion</url-pattern>
  </servlet-mapping>
</web-app>