#container{
    /* align-items: center;
    display: flex; */
    backdrop-filter: blur(16px) saturate(187%);
    -webkit-backdrop-filter: blur(16px) saturate(187%);
    background-color: rgba(17, 25, 40, 0.92);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    height: 1000px;
}

body{
    background-color: #041126;
    background-image: 
        radial-gradient(at 47% 33%, hsl(225.85, 63%, 41%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(220.00, 20%, 88%) 0, transparent 55%);
        color: white;
}

*{
    padding: 15px;
    
}

h1{
    text-align: center;
     font-size: 40px;
}

.inputslabels label{
	 font-size: 50px;
	 text-align: center;
}

p {
    text-align: center;
    font-size: 25px;
    margin: 0;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

input[type="checkbox"] {
    margin: 10px 0;
     transform: scale(1.5);
}


input[type=submit]{background-color: #008CBA;} /* Blue */


button:hover {
    background-color: gray;
    color: white;
}

